<h1 class="text-bg-warning text-center p-3">Ejercicio 147- Dirección IP</h1>

<div>
  <button (click)="obtenerIp()" class="btn btn-primary">Obtener IP</button>
</div>
<div class="text-center" *ngIf="cargando">
  <img src="assets/img/loading.gif" alt="Imágen de cargando">
</div>
<div *ngIf="!cargando" class="text-center">
  <p class="h1">{{direccionIp.ip}}</p>
</div>
<hr>
<div *ngIf="direccionIp.ip">
  <div>
    <button (click)="localizacion()" class="btn btn-primary">Obtener localización</button>
  </div>
  <div class="text-center">
    <p class="h1">{{geoLocalizacion}}</p>
  </div>
</div>

